@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-title: 'Lexend', sans-serif;
  --font-paragraph: 'Overpass Mono', monospace;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* font-family: "Poppins", sans-serif; Change from Inter to Poppins */
  color: var(--foreground);
  background: var(--background);
}

.section-title {
  font-family: var(--font-title);
  font-weight: 800; /* Adjust as needed */
  font-size: 3rem;
}

.project-title {
  font-family: var(--font-title);
  font-weight: 700; /* Adjust as needed */
  font-size: 1.5rem;
}

p {
  font-family: var(--font-paragraph);
  font-size: var(--font-r-s); /* Adjust as needed */
  letter-spacing: 0;
}


html {
  scroll-behavior: smooth;
}
