@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

@keyframes radialGradientAnimation {
  0% {
    background-position: 0% 0%, 100% 0%, 50% 50%, 0% 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0%, 0% 100%, 50% 50%, 100% 100%, 0% 0%;
  }
  100% {
    background-position: 0% 0%, 100% 0%, 50% 50%, 0% 100%, 100% 100%;
  }
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-title: 'Lexend', sans-serif;
  --font-paragraph: 'Overpass Mono', monospace;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nav {
  background-color: rgba(255, 255, 255, 0.1); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  position: fixed; 
  top: 15px; 
  left: 90%; 
  transform: translateX(-50%); 
  height: 55px;
  width: 80%; 
  padding: 10px 30px;
  border-radius: 20px; 
  z-index: 50; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  font-family: var(--font-paragraph);
}

nav a {
  font-size: 1.2rem; 
  font-weight: semibold; 
}

nav .name, a{
  font-size: 1.2rem; 
  font-weight: semibold; 
}

body {
  color: var(--foreground);
  background: var(--background);
}

.section-title {
  font-family: var(--font-title);
  font-weight: 800; 
  font-size: 3rem;
}

.project-title {
  font-family: var(--font-title);
  font-weight: 700; 
  font-size: 1.5rem;
}

p {
  font-family: var(--font-paragraph);
  font-size: var(--font-r-s); 
  letter-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

#about, #skills, #portfolio {
  background-color: #000108;
}

.project-container {
  background: linear-gradient(300deg, #000108, #000439); 
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.skills-container {
  background: linear-gradient(180deg, #000108, #000108, #000108, #000439);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.skills-container:hover, .project-container:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-border {
  background: #000439;
  padding: 5px; 
  border-radius: 50%;
}

.home-section {
  text-align: left; 
  padding-left: 2rem; 
  padding-top: 5rem; 
  background: linear-gradient(70deg, #000108, #000439); 
}

.home-title {
  font-size: 6rem; 
  font-weight: 800;
  margin-left: 7.8rem; 
}

.gradient-text {
  background: linear-gradient(90deg, #B597F6, #A6AFF0, #96C6EA); /* Define your gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home-description {
  font-weight: 500;
  font-size: 2rem; 
  margin-top: -1rem;
  margin-left: 8rem; 
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 8rem; 
}

.social-icons a {
  font-size: 2rem;
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: gray; 
}
